#what .items{
    display: block;
    padding: 1rem;
}

/* Align Icon To Left */
#what .items .item {
    display: flex;
    text-align: left;
}

/* Position Icon */
#what .items .item i {
    align-self: center;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

@media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #navbar ul {
        padding: 0.5rem;
    }

    #who {
        display: block;
    }

    #who .who-img {
        display: none;
    }

    #clients .items img{
        width: 80%;
    }

    #clients .items div:last-child {
        display: none;
    }

    #contact {
        flex-direction: column;
    }

    #contact .map {
        display: none;
    }
}